# CONFIGURATION PARAMETERS:
# ————————————————————————————————————————————————————————

CAI_DEFAULT_EDITOR="subl"

# CAI:
# ————————————————————————————————————————————————————————

readonly -A CAI_EDITORS_LIST=(
  #
  # https://nano-editor.org
  #
	[nano]=nano
  #
  # https://www.vim.org
  #
	[vim]=vim
  #
  # https://en.wikipedia.org/wiki/TextEdit
  #
	[text_edit]=TextEdit
  #
  # https://www.sublimetext.com
  #
	[subl]="Sublime\ Text"
  #
  # https://github.blog/2022-06-08-sunsetting-atom/
  #
	[atom]=atom
  #
  # https://brackets.io
  #
	[brackets]=brackets
  #
  # https://www.gnu.org/software/emacs/
  #
	[emacs]=emacs
  #
  # https://developer.apple.com/xcode/
  #
	[xcode]=Xcode
  #
  # https://code.visualstudio.com
  #
	[vscode]=code
)